/* Adjust font size for smaller screens */
@media screen and (max-width: 600px) {
  .product-title {
    font-size: 0.5rem;
  }

  .product-description {
    font-size: 0.875rem;
  }
}

mat-card {
  border-radius: 1.5rem;
}

mat-card-actions, mat-card-content {
  font-family: 'Product Sans';
}

mat-card-content {
  margin-top: 1rem;
}

.product-card {
  width: 300px;
  margin: 16px;
}

.product-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.product-description {
  margin-top: 8px;
}

.product-price {
  color:rgb(29, 78, 216);; /* Change to your desired color */
}

.mat-card-image {
  max-height: 200px;
  object-fit: cover;
  margin: 0 !important;
}

.mat-card-actions {
  display: flex;
  justify-content: space-between;
}
