<strong>
  <p class="text-3xl font-bold">Profile works!</p>
</strong>
<section>
  <strong>
    <p>Profile contain</p>
    <section class="flex justify-evenly">
      <a href="" class="text-black-900">POST</a>
  <a href="" class="text-black-900">SAVED</a>
  <a href="" class="text-black-900">TAGGED</a>
    </section>
    <section class="flex justify-evenly border-2 border-amber-600 text-center">
      <app-post></app-post><app-saved></app-saved><app-tagged></app-tagged>
    </section>
    <app-instagram-post></app-instagram-post>
  </strong>
</section>
